.info{
  text-align: end;
}


p.dotted {
  border-top: 2px #fff dotted;
  width: 153%;
 position: relative;
 right: 10px;
  
}
 
.lo{
  display: flex;
 
}


#icon-home{
  display: flex;
  align-items: center;
  justify-content: center;
   
}
#div{
  display: flex;
position: absolute;right: 70px;

}
  .img-border{
    border-left: 2px solid rgb(177, 170, 170);
    border-bottom: 1px solid  rgb(177, 170, 170);
    background-color: rgb(245, 241, 241);
  }


 #show-more{
  color: rgb(9, 238, 9);
 }

  #color-text{
    color: #103076;
  }

#font-size{
font-size: small;
}
#bg {
  background-color: #f7eed8;
  border-bottom: 5px solid #d1cccc;
 

}

#font-size-1 {
  position: relative;
  left: 10px;
  font-size: 10px;
}
.lll {
  position: relative;
  left: 10px;
}
#hr2{
  height: 3px;
  background-color: #103076;
}



#sub-31{
  font-size: 30px;
}



/* Footer */

#footer_1{
  color: rgb(9, 242, 9);
  background-color: rgb(4, 4, 129);
}

.underline2{
background:rgb(9, 242, 9);
height: 2px;

width: 90px;}
#sp{
  position: relative;left: 20px;
}

/* Footer End */


#last_links a{
  text-decoration: none;
  color: black;
  }
  
  #last_links{
    
    background-color: rgb(247, 236, 236);
   
  }

  /* icon-border-radius */
  .icon-border-radius{
border: 1px solid #bcbcbc;
border-radius: 5%;
 color: #bcbcbc;

    
  }



  
p.dotted-etails-text {
  border-top: 2px rgb(0, 0, 0) dotted;
  
}

  @media screen and (max-width: 1197px) and (min-width: 176px) {
    #map2{ 
   
  position: relative;right: 10px;
   
 
    }
     }


     @media screen and (max-width: 1197px) and (min-width: 176px) {
      #map{ 
     
       position: relative;right: 1px;
       width: 200px;
   
      }
       }
     
 
  
     
.text-top-5{
  z-index: 5px;
  position: relative;
  top: 30px;
 }

 .text-top-6{
  z-index: 5px;
  position: relative;
  top: 40px;
 }
 
 .text-top-4{
  z-index: 5px;
  position: relative;
  top: 25px;
 }

 

 .text-top-3{
  z-index: 5px;
  position: relative;
  top: 19px;
 }

 .text-top-2{
  z-index: 5px;
  position: relative;
  top: 15px;
 }

 .text-top-1{
  z-index: 5px;
  position: relative;
  top: 7px;
 }




 @media screen and (min-width: 13px) and (max-width: 1000px) {
  #last_links{ 

  
 font-size: 10px;


}
}
