.info{
  text-align: end;
}


p.dotted {
  border-top: 2px #fff dotted;
  width: 153%;
 position: relative;
 right: 10px;
  
}
 
.lo{
  display: flex;
 
}


#icon-home{
  display: flex;
  align-items: center;
  justify-content: center;
   
}
#div{
  display: flex;
position: absolute;right: 70px;

}
  .img-border{
    border-left: 2px solid rgb(177, 170, 170);
    border-bottom: 1px solid  rgb(177, 170, 170);
    background-color: rgb(245, 241, 241);
  }


 #show-more{
  color: rgb(9, 238, 9);
 }

  #color-text{
    color: #103076;
  }

#font-size{
font-size: small;
}
#bg {
  background-color: #f7eed8;
  border-bottom: 5px solid #d1cccc;
 

}

#font-size-1 {
  position: relative;
  left: 10px;
  font-size: 10px;
}
.lll {
  position: relative;
  left: 10px;
}
#hr2{
  height: 3px;
  background-color: #103076;
}



#sub-31{
  font-size: 30px;
}



/* Footer */

#footer_1{
  color: rgb(9, 242, 9);
  background-color: rgb(4, 4, 129);
}

.underline2{
background:rgb(9, 242, 9);
height: 2px;

width: 90px;}
#sp{
  position: relative;left: 20px;
}

/* Footer End */


#last_links a{
  text-decoration: none;
  color: black;
  }
  
  #last_links{
    
    background-color: rgb(247, 236, 236);
   
  }

  /* icon-border-radius */
  #icon-border-radius{
     
 
padding: 10px 10px;
border: 1px solid #bcbcbc;
border-radius: 10%;
 color: #bcbcbc;

    
  }


  .m{
    z-index: 5px;
     position: relative;
     left: 9px;
  }
  

  /* @media (max-width:  1108px) {
    #map {
    
      background-color: aqua;
 
  
    }
  
  } */
  @media (max-width:  1108px) {
    #last_links{
    
       
 font-size: 10px;
  
    }
  
  }
  @media (max-width: 820px) {
    #map{
    
      /* background-color: aqua; */
  position: relative;left: 60px;
  width: 230px;
  position: relative;top: 20%;
    }
  
  }

  @media (max-width: 820px) {
    #map2{
    
      
  position: relative;right: 100px;
    }
  
  }




  @media (max-width: 820px) {
    #icon-home{
    
       
   font-size: 10px;
   width: 10px;
    }
  
  }
  @media (max-width: 820px) {
    #wifi{
    
      
   font-size: 5px;
   position: relative;right: 4px;
   position: relative;top: 60px;
   
    }
  
  }
  @media (max-width: 820px) {
    #wifi1{
    
      
   font-size: 5px;
   position: relative;left: 42px;
   
   
    }
  
  }
  @media (max-width: 820px) {
    #div{
    
      
   position: relative;left: 20px;
   width: 20px;
   height: 10px;
   
   
    }
  
  }
  @media (max-width: 820px) {
    #wifi2{
    
      
    
      font-size: 5px;
      position: relative;left: 14px;
      position: relative;top: 60px;
      
   
   
    }
  
  }
  @media (max-width: 820px) {
    #wifi3{
    
      
    width: 10px;
      font-size: 5px;
      position: relative;right: 33px;
   
   
    }
  
  }
  @media (max-width: 1180px) {
    #wifi{
    
      
   font-size: 10px;
   /* position: relative;right: 4px;
   position: relative;top: 60px; */
   
    }
  
  }
  @media (max-width: 1180px) {
    #wifi1{
    
      
   font-size: 10px;
   /* position: relative;right: 4px;
   position: relative;top: 60px; */
   
    }
  
  }
  @media (max-width: 1180px) {
    #wifi2{
    
      
   font-size: 10px;
   /* position: relative;right: 4px;
   position: relative;top: 60px; */
   
    }
  
  }
  @media (max-width: 1180px) {
    #wifi3{
    
      
   font-size: 10px;
   /* position: relative;right: 4px;
   position: relative;top: 60px; */
   
    }
  
  }
  /* ipd */
  @media (max-width: 375px) {
    #wifi{
    
      
    
   position: relative;left: 20px;
   position: relative;top: 1px;
   width: 90px;
   
    }
  
  }
  @media (max-width: 375px) {
    #wifi1{
    
      
    
   position: relative; left:16%;
   
   
    }
  
  }
  @media screen and (min-width: 375px) {
    #wifi2{
    
      /* background-color: yellow; */
   font-size: 16px;
   position: relative;left: 5px;
   position: relative;top: 60px;
   
    }
  
  }
  @media (max-width: 375px) {
    #wifi3{
    
      
   font-size: 10px;
   position: relative;left: 10px;
   position: relative;top: 65px;
   width: 90px;
   height: 40px;
   
    }
  
  }
  @media (max-width: 375px) {
    #div{
    
      display: flex;
   position: relative;left: 80px;
   font-size: 30px;
   
   
    }
  
  }

  /* ipdr */

  @media (max-width: 667px) {
    #wifi{
     
    font-size: 15px;
   position: relative;left: 20px;
   position: relative;top: 1px;
   width: 90px;
   
    }
  
  }
  @media (max-width: 667px) {
    #wifi1{
     
    font-size: 15px;
   position: relative; left:20%;
   
   
    }
  
  }
  /* @media (max-width: 667px) {
    #wifi2{
     display: block;
      background-color: #103076;
   font-size: 15px;
   position: relative;left: 10px;
   position: relative;top: 54px;
   
    }
  
  } */
  @media (max-width: 667px) {
    #wifi3{
    
      
   font-size: 15px;
   position: relative;left: 10px;
   position: relative;top: 65px;
   width: 90px;
   height: 40px;
   
    }
  
  }
  @media (max-width: 667px) {
    #div{
      display: block;
   
   font-size: 30px;
   
   
    }
  
  }

@media screen and (min-width: 1024px) {
  #map{
    
    /* background-color: rgb(68, 0, 255); */
position: relative;right: 19px;
width: 250px;
/* position: relative;top: 20%; */
  }

  }
  @media screen and (min-width: 375px) {
    #map{
      
      /* background-color: rgb(68, 0, 255); */
  position: relative;left: 100px;
  /* width: 250px; */
  position: relative;top: 10%;
    }
  
    }
    @media screen and (min-width:1024px) {
      #map{
        
        /* background-color: rgb(68, 0, 255); */
    position: relative;left: 0px;
    /* width: 250px; */
    position: relative;top: 10%;
      }
    
      }

      @media screen and (min-width: 1024px) {
        #wifi2{
        
          /* background-color: rgb(255, 8, 0); */
       font-size: 10px;
       position: relative;left: 0px;
       position: relative;top: 1px;
       
        }
      
      }
      @media screen and (min-width: 667px) {
        #wifi2{
        
          /* background-color: rgb(255, 8, 0); */
          font-size: 15px;
          position: relative;left: 29px;
          position: relative;top: 54px;
       
        }
      
      }
      @media screen and (min-width: 1180px) {
        #wifi2{
        
          /* background-color: rgb(234, 0, 255); */
          font-size: 10px;
          position: relative;left: 7px;
          position: relative;top: 2px;
       
        }
      
      }
      @media screen and (min-width:820px) {
        #map{
          
          /* background-color: rgb(68, 0, 255); */
      position: relative;left: 59px;
      /* width: 250px; */
      position: relative;top: 10%;
        }
      
        }